[slide-anything id="18"]
<div id="content-row-1" class="content-row">

<div id="main-text" class="content">
	<h3>Welcome to Vancouver Community Network</h3>
	<b>Vancouver Community Network</b> <b>(VCN)</b> is a non-profit Internet service provider that provides <b>free services</b> to assist <b>individuals</b>, <b>community groups</b> and <b>non-profit organizations</b> in accessing and utilizing the Internet to its fullest ability. We believe the information, resources and opportunities on the Internet should be <b>accessible to all!</b> We work to expand public access to computers and the Internet, provide educational services for their effective use and promote local content on the web.<a href="https://www2.vcn.bc.ca/who-we-are/" target="_blank" rel="noopener">Click to learn more about us...</a>
</div>

<div id="services" class="card content"><div class="wrap">
	<h4>SERVICES</h4>
	<ul>
	<li><a href="/services/services-for-groups/">For Groups</a></li>
	<li><a href="/services/services-for-non-profit-organizations/">For Non-Profit Organizations</a></li>
	<li><a href="/services/services-for-everyone/">For Everyone</a></li>
</ul>
</div></div>

<div id="calendar" class="card content"><div class="wrap">
	<h4>Upcoming Events</h4>
	[ai1ec view="agenda"]
</div></div>

</div>
<div id="content-row-2" class="content-row">

<div id="newsletter" class="card content"><div class="wrap">
	<h4 class="widgettitle">VCN NEWSLETTER</h4>
	<a href="/who-we-are/vcn-newsletter/">(The full list can be found on the <b><u>VCN Newsletter page</u></b>.)</a>
	[ddownload_list limit=8 categories="vcn_newsletter"]
</div></div>

<div id="events" class="card content"><div class="wrap">
	<h4>COMMUNITY EVENTS</h4>
	<ul>
	<li>Vancouver Jewish Folk Choir &amp; Solidarity Notes Concert</li>
	<li>Cool It! FREE family educational workshop. Taking action, reducing greenhouse emissions.</li>
	<li>Unity Yoga Teahouse &amp; Studio – Free</li>
	<li>Free The Story of Christmas Theater</li>
	<li>Diabetes Free Public Health Forum</li>
	</ul>
</div></div>

</div>
<div id="content-row-3" class="content-row">

<div id="internet" class="card content"><div class="wrap">
	<h4>FREE PUBLIC ACCESS INTERNET &amp; COMPUTERS</h4>
	<p>Public Access Internet and Computer Sites are funded by Industry Canada's Community Access Program (CAP) and administered by Vancouver Community Network.</p>

</div></div>

<div id="news" class="card content"><div class="wrap">
	<h4>LATEST VCN NEWS</h4>
	<ul>
		<li>Power maintenance on Friday, June 22nd, 2018 at 4pm</li>
		<li>VCN Annual General Meeting Tuesday, February 20, 2018 at 5:30pm (registration at 5pm)</li>
		<li>VCN closed Mon, Dec 25th to Mon, Jan 1st</li>
		<li>VCN is closed on Monday, November 13th, 2017</li>
		<li>Email Server issue – Resolved</li>
	</ul>
</div></div>

</div>
[slide-anything id="39"]
